        /* navbar */
        
        html {
            scroll-behavior: smooth;
        }
        
        .row {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        
        .container-fluid {
            margin: 0;
            padding: 0;
        }
        
        .navbar {
            background-image: linear-gradient(to right, #a517ba, #5f1782);
            color: beige;
            position: fixed;
        }
        
        .navbar-brand img {
            height: 40px;
            margin: 0;
            margin-left: 10px;
            padding: 0;
            color: rgba(255, 255, 255, 0.5) !important;
        }
        
        .navbar-nav {
            margin-left: auto;
        }
        
        .navbar-nav li {
            padding: 0 5px;
        }
        
        .navbar-nav li a {
            color: beige !important;
        }
        
        .navbar-nav li a:hover {
            display: block !important;
            background-color: #a44cd0;
        }
        
        .fa-bars {
            color: azure;
        }
        /* navbar ke niche wala content */
        
        .banner {
            background-image: linear-gradient(to right, #a517ba, #5f1782);
            text-align: center;
            margin-bottom: 0;
            padding-top: 35px;
            position: static;
        }
        
        .banner p {
            text-transform: uppercase;
        }
        
        .banner img {
            width: 350px;
            margin: 0;
        }
        
        .bottom-img {
            width: 100%;
            background-image: linear-gradient(to right, #a517ba, #5f1782);
        }
        /* about us */
        
        .aboutus {
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
        }
        
        .aboutus::before {
            content: '';
            width: 25px;
            height: 10px;
            background-color: #5f1782;
            margin-left: auto;
            margin-right: auto;
            display: block;
            transform: translateY(70px);
        }
        
        .aboutus::after {
            content: '';
            width: 70px;
            height: 4px;
            background-color: #5f1782;
            margin-left: auto;
            margin-right: auto;
            display: block;
            transform: translateY(21px);
        }
        
        .col-md-4 img {
            height: 100px;
            margin: 50px 0 10px;
        }
        
        .col-sm-6 img {
            height: 150px;
            margin: 50px 0 10px;
            border-radius: 50%;
        }
        
        .testimonial {
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
        }
        
        .testimonial::before {
            content: '';
            width: 25px;
            height: 10px;
            background-color: #5f1782;
            margin-left: auto;
            margin-right: auto;
            display: block;
            transform: translateY(70px);
        }
        
        .testimonial::after {
            content: '';
            width: 70px;
            height: 4px;
            background-color: #5f1782;
            margin-left: auto;
            margin-right: auto;
            display: block;
            transform: translateY(21px);
        }
        
        .contactus {
            background-image: linear-gradient(to right, #a517ba, #5f1782);
        }
        
        .contactus p {
            margin-top: 10px;
        }
        
        .contactus i {
            display: inline-block;
        }
        
        .fa-instagram {
            color: azure;
            margin-right: 10px;
            margin-top: 10px;
        }
        
        .fa-facebook {
            color: azure;
            margin-right: 10px;
            margin-top: 10px;
        }
        
        .fa-twitter {
            color: azure;
            margin-right: 10px;
            margin-top: 10px;
        }
        
        @media screen and (max-width: 560px) {
            .contactus p {
                margin-top: 2px;
                margin-right: 2px;
                font-size: 15px;
            }
        }
